section {
    /* background:#17A0E4; */
    background-image: url('/assets/images/our-careers-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0;
    color: #fff;
}

h1 {
    text-transform: uppercase;
}

.row {
    display: flex;
    align-items: center;
}

.btn {
    background: rgb(255, 255, 255);
}

.btn:hover {
    background: #4CBFE1;
    color: #fff;
}

@media screen and (max-width: 400px) {
    .hero-text {
        margin-top: 180px;
    }
}

.career-explained img {
    width: 90%;
}